<?xml version="1.0"	encoding="UTF-8"?> 
<configuration> 
<system.webServer> 
<rewrite>  
<rules><rule name="list_app">
	<match url="^app/list_(\d+)_(\d+).html$" />
	<action type="Rewrite" url="index.php?tpl=list_app&cid={R:1}&p={R:2}" />
</rule>
<rule name="list_app_index">
	<match url="^app/list_(\d+).html$" />
	<action type="Rewrite" url="index.php?tpl=list_app&cid={R:1}&p=1" />
</rule>
<rule name="cpy_list_app">
	<match url="^app/(\w+?)/(\d+).html$" />
	<action type="Rewrite" url="index.php?tpl=list_app&cpy={R:1}&p={R:2}" />
</rule>
<rule name="cpy_list_app_index">
	<match url="^app/(\w+?)/$" />
	<action type="Rewrite" url="index.php?tpl=list_app&cpy={R:1}&p=1" />
</rule>
<rule name="special_list">
	<match url="^sepcial/list_(\d+).html$" />
	<action type="Rewrite" url="index.php?tpl=special_list&p={R:1}" />
</rule>
<rule name="special_list_index">
	<match url="^sepcial/$" />
	<action type="Rewrite" url="index.php?tpl=special_list&p=1" />
</rule>
<rule name="special_content">
	<match url="^special/(\d+).html$" />
	<action type="Rewrite" url="index.php?tpl=special_content&id={R:1}" />
</rule>
<rule name="list_info">
	<match url="^info/list_(\d+)_(\d+).html$" />
	<action type="Rewrite" url="index.php?tpl=list_info&cid={R:1}&p={R:2}" />
</rule>
<rule name="list_info_index">
	<match url="^info/list_(\d+).html$" />
	<action type="Rewrite" url="index.php?tpl=list_info&cid={R:1}&p=1" />
</rule>
<rule name="cpy_list_info">
	<match url="^info/(\w+?)/(\d+).html$" />
	<action type="Rewrite" url="index.php?tpl=list_info&cpy={R:1}&p={R:2}" />
</rule>
<rule name="cpy_list_info_index">
	<match url="^info/(\w+?)/$" />
	<action type="Rewrite" url="index.php?tpl=list_info&cpy={R:1}&p=1" />
</rule>
<rule name="content_info">
	<match url="^info/(\d+).html$" />
	<action type="Rewrite" url="index.php?tpl=content_info&id={R:1}" />
</rule>
<rule name="content_app">
	<match url="^app/(\d+).html$" />
	<action type="Rewrite" url="index.php?tpl=content_app&id={R:1}" />
</rule>
<rule name="content_app_history">
	<match url="^app/(\d+)_(\d+).html$" />
	<action type="Rewrite" url="index.php?tpl=content_app_history&id={R:1}&hid={R:2}" />
</rule>
<rule name="lastupdate">
	<match url="^lastupdate/(\d+).html$" />
	<action type="Rewrite" url="index.php?tpl=lastupdate&p={R:1}" />
</rule>
<rule name="lastupdate_index">
	<match url="^lastupdate/$" />
	<action type="Rewrite" url="index.php?tpl=lastupdate&p=1" />
</rule>
<rule name="img">
	<match url="^image/(.*).(\w+)$" />
	<action type="Rewrite" url="pic.php?url={R:1}&type={R:2}" />
</rule>
</rules>
</rewrite> 
</system.webServer> 
</configuration> 
