.DS_Store
.idea
.settings
.classpath
.project
.pytest_cache

node_modules
.vscode

!nginx/nginx_parsing_vulnerability/www/uploadfiles
nginx/nginx_parsing_vulnerability/www/uploadfiles/*
!nginx/nginx_parsing_vulnerability/www/uploadfiles/nginx.png

!httpd/apache_parsing_vulnerability/www/uploadfiles
httpd/apache_parsing_vulnerability/www/uploadfiles/*
!httpd/apache_parsing_vulnerability/www/uploadfiles/apache.php.jpeg

httpoxy/www/vendor/
httpoxy/www/composer.lock

!gitlab/CVE-2016-9086/data
gitlab/CVE-2016-9086/data/*

fastjson/vuln/target

jenkins/CVE-2017-1000353/payload/*.class
jenkins/CVE-2017-1000353/payload/*.ser
jenkins/CVE-2017-1000353/*.7z

nginx/CVE-2013-4547/www/uploadfiles/*

__pycache__

.env
.python-version

electron/CVE-2018-1000006/build/*
!electron/CVE-2018-1000006/build/index.html