zabbix/CVE-2016-10134/database/* linguist-vendored
zabbix/CVE-2017-2824/database/* linguist-vendored
zabbix/CVE-2020-11800/database/* linguist-vendored
jumpserver/auth-bypass/1.gif
jumpserver/CVE-2023-42820/1.gif
